@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&family=Varela+Round&display=swap');

body{
    background-color: rgb(213, 213, 8);
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 80px;
    background-color: black;
    color: rgb(248, 220, 62);
    align-items: center;
}
nav input{
    padding: 0.2rem;
    margin: 8rem;
    font-size: 1.2rem;
}

li{
    margin-inline: 15px;
    font-size: 1.5rem;
}
 
#search{
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(248, 248, 234);
    border-radius: 25px;
}

.brand img{
    height: 78px;
    padding: 0 5px;
}

.brand{
    display: flex;
    align-items:center;
    margin-left: 0;
    font-size: 2rem;
    font-style: oblique ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

.container{
    height: 30rem;
    background-color: black;
    color: #fff;
    font-family: 'Borel', sans-serif;
    display: flex;
    margin: 20px auto;
    /* align-items: center; */
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    background-image:url('bg.jpg');
    overflow-y: auto;
}

.bottom{
    width: 100%;
    position: fixed;
    height: 100px;
    bottom: 0;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons{
    margin-top: 12px;
    margin-left: 10px;
    /* justify-content: space-between; */
}

#myProgressBar{
    width: 80vw;
    align-items: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 35px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
    /* cursor: pointer; */
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Borel', sans-serif; 
}
.songInfo img{
    opacity: 0;
    transform: opacity 0.4s ease-in;
}